/* about us css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#about{
    padding-top: 20px;
   
 }
 #about-hr{
    width: 40px;
    color: red;
    height: 2px;
    margin-top: 6px;
   
 }
 #about-container{
    background-color:  rgb(75, 72, 72);
    color: white;
     overflow: hidden;
     }
 #about-rcircle #about-welcome-shape-1{
    right: -25%;
    bottom: -120px;
}
#about-welcome-shape-1 {
    position: absolute;
    top: 35%;
    left: 84%;
    width: 255px;
    height: 236px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 50%;
    background-color: rgba(255,255,255,0);
    opacity: .5;
    transform: translateX(-50%);
    transform-origin: center bottom;
    animation-fill-mode: both;
    animation-name: bounce;
    animation-timing-function: ease-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateX(0);} 
  40% {transform: translateX(-30px);} 
  60% {transform: translateX(-15px);} 
} 
#about-rcircle #about-welcome-shape-2{
  right: -21%;
  bottom: -100px;
}
#about-welcome-shape-2{
  position: absolute;
 top: 45%;
 left: 90%;
  height: 185px;
  width: 185px;
  background-color: var(--moniz-primary,#ed1c24);
  border-radius: 50%;
  transform-origin: center bottom;
  animation-fill-mode: both;
  animation-name: banner3Shake;
  animation-timing-function: ease-out;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
@keyframes banner3Shake {
  0%, 20%, 50%, 80%, 100% {transform: translateX(0);} 
  40% {transform: translateX(-30px);} 
  60% {transform: translateX(-15px);} 
} 

/* aboutpara css */
#aboutpara-h1{
    font-size: 5.8rem;
    padding-bottom: 10px;
}
#aboutpara-h5{
    font-size: 2rem;
    padding-bottom: 10px;
}
#aboutpara-p{
    font-size: 19px;
    word-spacing: 3px;
}
/* about story */
#about-story{
    padding-top: 6rem;
    padding-bottom: 4rem;
    font-size: 7rem;
    text-align: center;
    
}
#about-para1{
    padding-top: 48px;
    padding-left: 5rem;
    font-size: 18px;
    word-spacing: 3px;
    line-height:28px ;
}
#about-para2{
    padding-top: 15px;
    padding-left: 5rem;
    font-size: 18px;
    word-spacing: 3px;
    line-height:28px ;
}
#about-mystory{
   margin-right: 2rem;
}
/* about slider */
#carosel11 {
    position: relative;
  }
  #crouselSlide{
    position: absolute;
    top: 16%;
  }
  #InfiniteH3{
    color: white;
    font-size: 18px;
  }
  #infiniteAnchor{
    color: blue;
  }